<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/icon.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This page is regarding the weather data taken from MapBox api and weather api.</p>
        <p>By the way the below image is of Dwight Schrute</p>
        <img id="img2" src="/img/dwight.jpg">
    </div>
    
    {{>footer}}
</body>

</html>