<html>
<head>
     <link rel="icon" href="/img/icon.jpg">
    <link rel="stylesheet" href="../css/stylesheet.css">
    <script src="../js/newJs.js"></script>    
</head>
<body>
    {{>header}}

    <h1>
        Page: {{title}} 
                
    </h1><br>
    <p>404 : Page Not Found Error</p><br>

    <img id="img1" src="../img/error2.png" alt="error2"><br>
    
    {{>footer}}
</body>
</html>