<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/icon.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
    </div>
    <img id="img1" src="../img/MichaelScott.png" alt="MichaelScott Error"><br>
    {{>footer}}
</body>

</html>