<html>
<head>
     <link rel="icon" href="/img/icon.jpg">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="../js/newJs.js"></script>    
</head>
<body>

  <div class="main-content">

      {{>header}}

     <p>{{title}} 404 : Page Not Found</p>

  </div>
    
   <img id="img1" src="../img/MichaelScott.png" alt="MichaelScott Error"><br>
    
    {{>footer}}
</body>
</html>